<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- #ifdef _xml_preprocess -->
    <!--
    -->
    <!-- #else -->
    <add key="Testing_UseIisExpress" value="True" />
    <add key="Testing_HostSite" value="WcfService1" />
    <add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
    <add key="Testing_SlnRoot" value="C:\VSProjects\HelloWorldAuth" />
    <add key="Testing_BaseUrl" value="https://localhost:44300/" />
    <!-- #endif -->
  </appSettings>

  <system.net>
    <defaultProxy enabled="true">
      <proxy bypassonlocal="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>

    <connectionManagement>
      <add address="*" maxconnection="64"/>
    </connectionManagement>
  </system.net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BasicHttpBinding_IProductService"
        address="https://localhost:44301/ProductService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
        contract="PoC.Services.Contracts.IProductService"  />
    </client>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
