<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBasic" />
        <binding name="HttpBasicCredential">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="HttpsBasicCredential">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None"  />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="httpAuthBehavior">
          <serviceCredentials>
            <userNameAuthentication  userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="PoC.CrossCutting.IdentityValidator,PoC.CrossCutting" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="PoC.CrossCutting.RoleAuthorizationManager,PoC.CrossCutting">
          </serviceAuthorization>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="authBehavior">
          <serviceCredentials>
            <userNameAuthentication  userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="PoC.CrossCutting.IdentityValidator,PoC.CrossCutting" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="PoC.CrossCutting.RoleAuthorizationManager,PoC.CrossCutting">
          </serviceAuthorization>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>

      <service name="PoC.Services.Implementations.ProductService"
             behaviorConfiguration="httpAuthBehavior">
        <endpoint  address=""
                   binding="basicHttpBinding"
                   contract="PoC.Services.Contracts.IProductService"
                   bindingConfiguration="HttpBasicCredential">
          <identity>
            <dns value="whatever" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="c:\logs\Architecure.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
