<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBasic" />
        <binding name="HttpBasicCredential">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="HttpsBasicCredential">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None"  />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="httpAuthBehavior">
          <serviceCredentials>
            <userNameAuthentication  userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="PoC.CrossCutting.Identity.IdentityValidator,PoC.CrossCutting.Identity" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="PoC.CrossCutting.Identity.RoleAuthorizationManager,PoC.CrossCutting.Identity">
          </serviceAuthorization>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="authBehavior">
          <serviceCredentials>
            <userNameAuthentication  userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="PoC.CrossCutting.Identity.IdentityValidator,PoC.CrossCutting.Identity" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="PoC.CrossCutting.Identity.RoleAuthorizationManager,PoC.CrossCutting.Identity">
          </serviceAuthorization>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>

      <service name="PoC.Services.Implementations.ProductService"
             behaviorConfiguration="httpAuthBehavior">
        <endpoint  address=""
                   binding="basicHttpBinding"
                   contract="PoC.Services.Contracts.IProductService"
                   bindingConfiguration="HttpBasicCredential">
          <identity>
            <dns value="whatever" />
          </identity>
        </endpoint>
      </service>


      <!--<service behaviorConfiguration="MyServiceTypeBehavior"
               name="PoC.Services.Implementations.ProductService">
        <endpoint address="http://localhost:50120/ProductService.svc"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpBasic"
                  name="Basic" contract="PoC.Services.Contracts.IProductService"/>
      </service>-->
    </services>
  </system.serviceModel>

  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="c:\logs\Architecure.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
